@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.box {
  background-color: gray;
  height: 8vh;
  width: 100%;
  
}

.profile {
  height: 8vmin;
  pointer-events: none;
}

.card {
  background-color: lightgray;
  width: 90vw;
  height: 80vh;
  margin-top: 4%;
  font-family: 'Montserrat', sans-serif;
}

.container {
  top: 10%;
  left: 4%;
}

.dropdown {
  text-align: center;
  float: left;
  top: 100;
  margin-top: 1%;
  margin-left: 3%;
}

select{
  font-family: 'Montserrat', sans-serif;
  border-radius: 40px;
}

.filtro{
  align-items: right;
  float: right;
}