.FirstInputs .usuario,
.email,
.primeiro_nome,
.ultimo_nome {
    border-radius: 10px;
    border: 2px solid #003DA5;
    height: 40px;
    padding-left: 10px;
    color: #000;
}

.FirstInputs .nome {
    display: flex;
    margin: 40px 0 10px 40px;
}

.FirstInputs .nome .primeiro_nome,
.ultimo_nome {
    width: 205px;
}

.FirstInputs .nome .ultimo_nome {
    margin-left: 10px;
}

.FirstInputs .user_email {
    margin: 0 0 10px 40px;
}

.FirstInputs .usuario,
.email {
    width: 435px;
    margin-bottom: 10px;
}