.test-tela-cadastro {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgba(0, 61, 165, 1) 0%, rgba(0, 82, 224, 1) 35%, rgba(0, 0, 0, 1) 100%);
    overflow: hidden;
    position: relative;
    font-size: 20px;
}

.test-telaCadastro-container-principal {
    position: absolute;
    display: block;
    width: 750px;
    height: 600px;
    left: 30%;
    top: 10%;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
}

.test-div-inputs {
    margin-bottom: 10px;
}

.test-telaCadastro-inputs {
    background-color: #fafafa;
    border-radius: 15px;
    border-color: aliceblue;
    border: 2px solid #003DA5;
    width: 375px;
    height: 40px;
    font-size: medium;
}

.test-h1 {
    color: #003DA5;
    font-size: 50px;
}