.Post {
    background-color: #ffffff;
    border: 0.5px solid rgb(192, 192, 192);
    border-radius: 15px;
    height: 448px;
    width: 1147px;
    margin: 25px;
    margin-left: 3.5%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#post-image {
  width: 578px; 
  height: 448px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: url("https://openseauserdata.com/files/8fac8c9e2c0824aea0bcfd2f2c7a78bb.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#text {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.Comment-section {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
}

.comments {
  width: 400px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
}

#submit {
  margin-left: 5px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 80px;
}

#profilePicture {
  margin-right: 7px;
  border: 1px solid white;
  border-radius: 80px;
}

.Post-header{
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.Post-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.Post-action {
    display: flex;
    align-items: center
}

.Post-action button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    transition: transform 0.2s;
    width: 30px;
    height: 30px;
  }

  .Post-action button#like:hover {
    transform: scale(1.1); /* Efeito de escala durante o hover */
    background-image: url('./img/like_hover.png'); /* Troque para a versão colorida durante o hover */
  }
  
  .Post-action button#comment-button:hover {
    transform: scale(1.1);
    background-image: url('./img/comment_hover.png'); /* Troque para a versão colorida durante o hover */
  }
