.Post {
    background-color: #ffffff;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 7px;
    width: 500px;
    padding: 16px;
    margin: 7px;
    margin-left: 400px;
}

.Comment-section {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
}

#comment {
  width: 400px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
}

#submit {
  margin-left: 5px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 80px;
}

#profilePicture {
  margin-right: 7px;
  border: 1px solid white;
  border-radius: 80px;
}

.Post-header{
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.Post-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Post-action {
    display: flex;
    align-items: center
}

.Post-action button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    transition: transform 0.2s;
    width: 30px;
    height: 30px;
  }

  .Post-action button#like:hover {
    transform: scale(1.1); /* Efeito de escala durante o hover */
    background-image: url('like_hover.png'); /* Troque para a versão colorida durante o hover */
  }
  
  .Post-action button#comment-button:hover {
    transform: scale(1.1);
    background-image: url('comment_hover.png'); /* Troque para a versão colorida durante o hover */
  }
