@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  background-image: url(./background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
}

img {
  width: 10%;
}

figcaption {
  color: blue;
  font-family: 'Montserrat';
  display: inline-block;
  vertical-align: 50%;
}

.one {
  display: inline-block;
}