body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./background.jpg');
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

nav {
  background: linear-gradient(rgba(255, 130, 0, 0.2), rgba(0, 61, 165, 0));
}

ul {
  justify-content: space-between;
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0 10px;
}

.logo {
  margin-top: 20px;
  margin-left: 30px;
}

.topics {
  margin-top: 29px;
  margin-right: 100px;
}

img {
  width: 10%;
}

figcaption {
  color: #003DA5;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-top: -6%;
}

a {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition-duration: 0.5s;
}

a:hover {
  font-size: 17px;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  color: #FF8200;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  margin-top: -10%;
}

span {
  color: #FF8200;
  font-weight: bold;
}

button {
  width: 150px;
  height: 40px;
  border: 0;
  border-radius: 20px;
  background-color: #003DA5;
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition-duration: 0.8s;
}

button:hover {
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-color: #0052E0;
}