@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
}

a {
  color: white;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: #FF8200;
}

p {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

b {
  color:#FF8200;
}

img {
  width: 10%;
}

figcaption {
  color: #003DA5;
  font-family: 'Montserrat';
  display: inline-block;
  vertical-align: 50%;
}

.one {
  display: inline-block;
  position: relative;
}