@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

.userSkills {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*==========*/

.userSkills .hardSkills .hardSkills-ul li {
    background-color: #1F71FF;
    border-radius: 15px;
    height: 30px;
    margin: 10px 0 0 3px;
}

.userSkills .hardSkills .hardSkills-ul li span {
    position: relative;
    font-size: 12px;
    color: white;
    padding-left: 17px;
    top: 4px;
}

/*==========*/

.userSkills .softSkills .softSkills-ul li {
    background-color: #ffa647;
    border-radius: 15px;
    height: 30px;
    margin: 10px 0 0 3px;
}

.userSkills .softSkills .softSkills-ul li span {
    position: relative;
    font-size: 12px;
    color: black;
    padding-left: 17px;
    top: 4px;
}

@media (min-width: 1700px) {

    .userSkills .hardSkills, .softSkills {
        min-width: 48.3%;
    }
}