.barra {
    width: 1365px;
    height: 55px;
    background-color: #FFFF;
}

.barra .logo {
    height: 44px;
    width: 39px;
    position: relative;
    top: 3px;
    right: -14px;
}

.barra .skills {
    color: #003DA5;
    position: relative;
    font-size: 17px;
    right: 108px;
    top: -45px;
    font-family: 'Montserrat', sans-serif;
}

.barra .quem-somos {
    position: relative;
    right: -963px;
    top: -122px;
    font-family: 'Montserrat', sans-serif;
    color: #003DA5;
}

.barra .cadastre-se {
    position: relative;
    right: -1119px;
    top: -157px;
    font-family: 'Montserrat', sans-serif;
    color: #FF8200;
}

.barra .login {
    position: relative;
    right: -1275px;
    top: -192px;
    font-family: 'Montserrat', sans-serif;
    color: #003DA5;
}