.div-data {
    position: relative;
    margin-bottom: 10px;
}

#data_nascimento {
    background-color: #fafafa;
    border-radius: 15px;
    border-color: aliceblue;
    border: 2px solid #003DA5;
    width: 375px;
    height: 45px;
    margin-top: 5px;
    font-size: medium;
}

.label-dataNasc {
    color: #003DA5;
    background: transparent;
    margin-right: 24%;
}