.Post {
    background-color: #ffffff;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 7px;
    width: 500px;
    padding: 16px;
    margin: 7px;
    margin-left: 400px;
}

.Comment-section {
  /* Estilos para a seção principal de comentários */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.Mini-comment-section {
  /* Estilos para a mini aba de comentários */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}


.Comment {
  /* Estilo para o comentário individual */
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.Comment-user-image {
  width: 40px; /* Tamanho da imagem do usuário */
  height: 40px;                      
  border-radius: 50%; /* Para tornar a imagem redonda, se desejar */
  margin-right: 10px; /* Espaçamento entre a imagem e o conteúdo do comentário */
}

.Comment-content {
  flex: 1;
  background-color: #f2f2f2; /* Cor de fundo do comentário */
  padding: 10px;
  border-radius: 5px; /* Borda arredondada do comentário */
}


.Mini-comment-section div {
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}


#comment {
  width: 400px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
}

#submit {
  margin-left: 5px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 80px;
}

#profilePicture {
  margin-right: 7px;
  border: 1px solid white;
  border-radius: 80px;
}

.Post-header{
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.Post-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Post-action {
    display: flex;
    align-items: center
}

.Post-action button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    transition: transform 0.2s;
    width: 30px;
    height: 30px;
  }

  .Post-action button#like:hover {
    transform: scale(1.1); /* Efeito de escala durante o hover */
    background-image: url('../img/like_hover.png'); /* Troque para a versão colorida durante o hover */
  }
  
  .Post-action button#comment-button:hover {
    transform: scale(1.1);
    background-image: url('../img/comment_hover.png'); /* Troque para a versão colorida durante o hover */
  }
